.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: 250px;
    height: 100vh;

    box-sizing: border-box;

    padding: 24px;

    background: #1e293b;
    color: white;
}

.sidebar h2 {
    margin: 0 0 40px;
    font-size: 20px;
}

.sidebar a {
    display: block;
    padding: 14px 12px;
    margin-bottom: 10px;
    color: #cbd5e1;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
    background: #334155;
    color: white;
}